<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="mov-icons.html">

<link rel="lazy-import" href="mov-login.html">
<link rel="lazy-import" href="mov-signup.html">
<link rel="lazy-import" href="mov-listado.html">
<link rel="lazy-import" href="mov-alta.html">
<link rel="lazy-import" href="mov-marketusa.html">
<link rel="lazy-import" href="mov-error404.html">

<dom-module id="app-movimientos">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      .label-small {
        vertical-align: super;
        font-size: small;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout id="layout" fullbleed force-narrow="{{forceNarrow}}" narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a hidden = "true" name="login" href="[[rootPath]]login">Login</a>
          <a hidden = "true" name="signup" href="[[rootPath]]signup">Sign Up</a>
          <a name="listado" href="[[rootPath]]listado">Listado movimientos</a>
          <a name="alta" href="[[rootPath]]alta">Insertar movimiento</a>
          <a name="marketusa" href="[[rootPath]]marketusa">Cotizaciones Dow Jones</a>
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <div main-title>Movimientos en Dow Jones</div>
              <table>
                <tr>
                  <td><label class="label label-default label-small" hidden = [[forceNarrow]]>Usuario logado: [[usuariologado]] ([[nombreUsuariologado]] - [[mailUsuariologado]]). Activo desde el [[fechaAltaUsuariologado]]</label></td>
                  <td colspan="6"></td>
                  <td><a hidden = [[!forceNarrow]] href="[[rootPath]]login"><button class="btn btn-info border" type="button" id="buttonAcceso">LOG IN</button></a></td>
                  <td colspan="3"></td>
                  <td><a hidden = [[!forceNarrow]] href="[[rootPath]]signup"><button align="center" class="btn btn-info border" type="button" id="buttonAcceso">SIGN UP</button></a></td>
                  <td><button hidden = [[forceNarrow]] align="center" class="btn btn-info border" type="button" on-click="logout" id="buttonAcceso">LOG OUT</button></td>
                </tr>
                <tr>
                  <td></td>
                </tr>
              </table>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="error404"
            role="main">
          <mov-login name="login" id="login"></mov-login>
          <mov-signup name="signup" id="signup"></mov-signup>
          <mov-listado name="listado" id="listado"></mov-listado>
          <mov-alta name="alta" id="alta"></mov-alta>
          <mov-marketusa name="marketusa" id="marketusa"></mov-marketusa>
          <mov-error404 name="error404"></mov-error404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    var urlServidor = "http://localhost:3001/";
    var respuesta;
    class AppMovimientos extends Polymer.Element {
      static get is() { return 'app-movimientos'; }
      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          rootPath: String,
          forceNarrow: {
            type: Boolean,
            value: true
          },
          usuariologado: {
            type: String,
            value: ""
          },
          nombreUsuariologado: {
            type: String,
            value: ""
          },
          mailUsuariologado: {
            type: String,
            value: ""
          },
          fechaAltaUsuariologado: {
            type: String,
            value: ""
          }
        };
      }
      logout() {
        this.page = 'components';
        document.querySelector("app-movimientos").usuariologado = '';
        document.querySelector("app-movimientos").nombreUsuariologado = '';
        document.querySelector("app-movimientos").mailUsuariologado = '';
        document.querySelector("app-movimientos").fechaAltaUsuariologado = '';
        document.querySelector("app-movimientos").forceNarrow = true;
        this.$.listado.movimientos = [];
        this.$.listado.noCargados = true;
        this.$.marketusa.cotizaciones = [];
        this.$.marketusa.noCargados = true;
        this.$.login.usuario = '';
        this.$.login.password = '';
        this.$.signup.newusuario = '';
        this.$.signup.newpassword = '';
        this.$.signup.newpasswordconfirm = '';
        this.$.signup.nombre = '';
        this.$.signup.mail = '';
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'components' in that case.
        this.page = page || 'components';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        this.$.listado.movimientos = [];
        this.$.listado.noCargados = true;
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('mov-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'error404';
      }
    }
    window.customElements.define(AppMovimientos.is, AppMovimientos);
  </script>
</dom-module>
