
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="mov-components">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <div class="card">
      <div class="circle">1</div>
      <h1>COMPONENNNT</h1>
    </div>
  </template>

  <script>
    class MyComponents extends Polymer.Element {
      static get is() { return 'mov-components'; }
    }

    window.customElements.define(MyComponents.is, MyComponents);
  </script>
</dom-module>
