
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="mov-alta">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .table-nonfluid {
         width: auto !important;
      }
    </style>

    <div id="signupinicial" class="container">
      <br>
      <h1 align="center">NUEVO MOVIMIENTO DOW JONES</h1>
      <div class="row">
      <table align="center" width="70%" class="table table-bordered table-striped col-lg-12 col-xs-12 table-nonfluid">
        <tr>
          <td>
            <table class="table table-bordered table-striped col-lg-8 col-xs-12">
              <thead class="thead-default">
                <th colspan="2">Informe todos los datos</th>
              </thead>
              <tbody>
                <tr>
                  <td><label>Empresa:</label></td>
                  <td>
                    <select id="empresas" name="empresa" value="{{accion::input}}" on-change="habilitaAlta">
                      <option value=""></option>
                      <option value="MMM">3M</option>
                      <option value="AXP">American Express</option>
                      <option value="AAPL">Apple</option>
                      <option value="BA">Boeing</option>
                      <option value="CAT">Caterpillar</option>
                      <option value="CVX">Chevron</option>
                      <option value="CSCO">Cisco</option>
                      <option value="KO">Coca-Cola</option>
                      <option value="DIS">Disney</option>
                      <option value="DWDP">DowDuPont Inc</option>
                      <option value="XOM">Exxon Mobil</option>
                      <option value="GE">General Electric</option>
                      <option value="GS">Goldman Sachs</option>
                      <option value="HD">Home Depot</option>
                      <option value="IBM">IBM</option>
                      <option value="INTC">Intel</option>
                      <option value="JNJ">Johnson and Johnson</option>
                      <option value="JPM">JPMorgan Chase</option>
                      <option value="MCD">McDonald's</option>
                      <option value="MRK">Merck</option>
                      <option value="MSFT">Microsoft</option>
                      <option value="NKE">Nike</option>
                      <option value="PFE">Pfizer</option>
                      <option value="PG">Procter and Gamble</option>
                      <option value="TRV">Travelers Companies Inc</option>
                      <option value="UTX">United Technologies</option>
                      <option value="UNH">UnitedHealth</option>
                      <option value="VZ">Verizon</option>
                      <option value="V">Visa</option>
                      <option value="WMT">Wal-Mart</option>
                    </select>
                </tr>
                <tr>
                  <td><label>Tipo operación:</label></td>
                  <td>
                    <fieldset id="tipoOperacion" value="{{tipoOperacion::input}}">
                      <input type="radio" name="tipoOperación" id="compra" value="COMPRA" checked/><label for="compra">COMPRA  </label>
                      <input type="radio" name="tipoOperación" id="venta" value="VENTA"/><label for="venta">VENTA  </label>
                      <input type="radio" name="tipoOperación" id="dividendo" value="DIVIDENDO"/><label for="dividendo">DIVIDENDO</label></td>
                    </fieldset>
                </tr>
                <tr>
                  <td><label>Fecha ejecución:</label></td>
                  <td><input type="date" on-change="habilitaAlta" required placeholder="Fecha efectiva de la operación" value="{{fechaOperacion::input}}"/></td>
                </tr>
                <tr>
                  <td><label>Núm. acciones:</label></td>
                  <td><input type="number" min="0" on-change="habilitaAlta" required placeholder="Número de acciones" value="{{numAcciones::input}}"/></td>
                </tr>
                <tr>
                  <td><label>Precio:</label></td>
                  <td><input type="number" min="0" step="0.01" on-change="habilitaAlta" required placeholder="Precio por acción" value="{{precio::input}}"/></td>
                </tr>
                <tr>
                  <td><label>Valor efectivo :</label></td>
                  <td><input type="number" min="0"  step="0.01" on-change="habilitaAlta" required placeholder="importe total operación" value="{{importeEfectivo::input}}"/></td>
                </tr>
                <tr>
                  <td><label>Tributado S/N :</label></td>
                  <td>
                    <input type="checkbox" id="tipoTributado"/>
                  </td>
                </tr>
                <tr>
                  <td align="center" colspan="2"><button class="btn btn-info" type="button" id="buttonLimpiar" on-click="limpiarForm">Limpiar campos</button>
                  <button class="btn btn-info" type="submit" id="buttonAlta" disabled="true" on-click="insertMov">Insertar Movimiento</button></td>
                </tr>
            </tbody>
            </table>
          </td>
        </tr>
      </table>
    </div>
    </div>
  </template>

  <script language="JavaScript" src="js/funciones.js"></script>
  <script>
    class MovAlta extends Polymer.Element {
      static get is() { return 'mov-alta'; }
      static get properties() {
        return {
          accion: {
            type: String,
            value: ''
          },
          tipoOperacion: {
            type: String,
            value: 'COMPRA'
          },
          fechaOperacion: {
            type: Date,
            value: ''
          },
          numAcciones: {
            type: Number,
            value: ''
          },
          precio: {
            type: Number,
            value: ''
          },
          importeEfectivo: {
            type: Number,
            value: ''
          }
        };
      }

      insertMov(){
        var respuestaJSON = '';
        var usuarioLogon = document.querySelector("app-movimientos").usuariologado;
        if(usuarioLogon==''){
          alert('Se ha perdido sesión. Vuelva a logarse');
          return;
        }
        var fechaFomat = this.fechaOperacion;
        fechaFomat = fechaFomat.substring(8,10)+'/'+fechaFomat.substring(5,7)+'/'+fechaFomat.substring(0,4);
        var comision = this.importeEfectivo - this.precio*this.numAcciones;
        comision=Math.round(comision*100)/100;
        this.numAcciones=Math.round(this.numAcciones*100)/100;
        this.precio=Math.round(this.precio*100)/100;
        this.importeEfectivo=Math.round(this.importeEfectivo*100)/100;
        var tributado="NO";
        if(this.$.tipoTributado.checked){
          tributado = "SI";
        }
        var myJSON = { "usuario": usuarioLogon, "accion": this.$.empresas.options[this.$.empresas.selectedIndex].text, "ticket": this.accion, "tipoOperacion": this.tipoOperacion, "fechaOperacion": fechaFomat, "numAcciones": this.numAcciones, "precio": this.precio, "importeEfectivo": this.importeEfectivo, "comision": comision, "tributado": tributado};
        sendBackServer("PUT", "movimientos", myJSON, function (respuestaJSON){
          var resultado = respuestaJSON.respuesta;
          if(resultado == "OK"){
            alert ("Movimiento insertado correctamente");
          } else if(resultado == "NOK"){
            alert ("Error en la inserción del movimiento");
          } else {
            alert ("Error en la apolicación: "+resultado);
          }
        });
      }

      habilitaAlta(){
        if(this.accion == '' || this.fechaOperacion == '' || this.numAcciones == '' || this.precio == '' || this.importeEfectivo == ''){
          this.$.buttonAlta.disabled=true;
        } else {
          this.$.buttonAlta.disabled=false;
        }
      }
      limpiarForm(){
        alert(this.$.tipoOperacion.checked);
        this.accion = '';
        this.$.compra.checked = 'true';
        this.$.tipoTributado.checked = 'false';
        this.fechaOperacion = '';
        this.numAcciones = '';
        this.precio = '';
        this.importeEfectivo = '';
      }
    }

    window.customElements.define(MovAlta.is, MovAlta);
  </script>
</dom-module>
