
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="mov-marketusa">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .table-nonfluid {
         width: auto !important;
      }
    </style>

    <div class="container">
      <br>
      <h1 align="center">CONSULTA COTIZACIONES DOW JONES</h1>
      <br>
      <table align="center" class="table table-bordered table-striped col-lg-12 col-xs-12 table-nonfluid">
        <tr>
          <td>
            <table class="table table-bordered table-striped col-lg-4 col-xs-12 table-nonfluid">
              <thead class="thead-default">
                <th colspan="2">Criterios de consulta</th>
              </thead>
              <tbody>
                <tr>
                  <td><label>Empresa:</label></td>
                  <td>
                    <select name="empresa" value="{{empresa::input}}" on-change="nuevaConsulta">
                      <option value=""></option>
                      <option value="MMM">3M</option>
                      <option value="AXP">American Express</option>
                      <option value="AAPL">Apple</option>
                      <option value="BA">Boeing</option>
                      <option value="CAT">Caterpillar</option>
                      <option value="CVX">Chevron</option>
                      <option value="CSCO">Cisco</option>
                      <option value="KO">Coca-Cola</option>
                      <option value="DIS">Disney</option>
                      <option value="DWDP">DowDuPont Inc</option>
                      <option value="XOM">Exxon Mobil</option>
                      <option value="GE">General Electric</option>
                      <option value="GS">Goldman Sachs</option>
                      <option value="HD">Home Depot</option>
                      <option value="IBM">IBM</option>
                      <option value="INTC">Intel</option>
                      <option value="JNJ">Johnson and Johnson</option>
                      <option value="JPM">JPMorgan Chase</option>
                      <option value="MCD">McDonald's</option>
                      <option value="MRK">Merck</option>
                      <option value="MSFT">Microsoft</option>
                      <option value="NKE">Nike</option>
                      <option value="PFE">Pfizer</option>
                      <option value="PG">Procter and Gamble</option>
                      <option value="TRV">Travelers Companies Inc</option>
                      <option value="UTX">United Technologies</option>
                      <option value="UNH">UnitedHealth</option>
                      <option value="VZ">Verizon</option>
                      <option value="V">Visa</option>
                      <option value="WMT">Wal-Mart</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="center" colspan="2">
                    <button class="btn btn-info" type="button" on-click="nuevaConsulta">Nueva consulta</button>
                    <button class="btn btn-info" type="button" on-click="obtenerCotizaciones">Obtener cotizaciones</button>
                  </td>
                </tr>
            </tbody>
            </table>
          </td>
        </tr>
      </table>
      <br>
      <table align="center" class="table table-bordered table-striped col-lg-12 col-xs-12 table-nonfluid" hidden$="{{noCargados}}">
        <tr>
          <td>
            <button align="right" class="btn btn-info" type="button" on-click="exportToExcel">Exportar listado a Excel</button>
          </td>
        </tr>
      </table>
      <table align="center" class="table table-bordered table-striped col-lg-12 col-xs-12 table-nonfluid" hidden$="{{noCargados}}">
        <thead align="center" class="thead-default thead-dark">
          <tr>
            <th>Fecha</th>
            <th>Apertura</th>
            <th>Más alto</th>
            <th>Más bajo</th>
            <th>Cierre</th>
            <th>Volumen</th>
          </tr>
        </thead>
        <tbody align="center">
          <template is="dom-repeat" items="{{cotizaciones}}">
            <tr>
              <td>
                [[item.0]]
              </td>
              <td>
                [[item.1]]
              </td>
              <td>
                [[item.2]]
              </td>
              <td>
                [[item.3]]
              </td>
              <td>
                [[item.4]]
              </td>
              <td>
                [[item.5]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>

  </template>

  <script language="JavaScript" src="js/funciones.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/0.3.7/alasql.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.9.2/xlsx.core.min.js"></script>
  <script>
    /*var jsonprueba = {"respuesta": {"dataset_data": {"limit": 20,"transform": null,"column_index": null,"column_names": ["Date","Open","High","Low","Close","Volume","Ex-Dividend","Split Ratio","Adj. Open","Adj. High","Adj. Low","Adj. Close","Adj. Volume"], "start_date": "1980-12-12", "end_date": "2017-12-28","frequency": "daily","data": [["2017-12-28",171,171.85,170.48,171.08,15997739,0,1,171,171.85,170.48,171.08,15997739],["2017-12-27",170.1,170.78,169.71,170.6,21672062,0,1,170.1,170.78,169.71,170.6,21672062]],"collapse": null,"order": null}}};*/

    class MovMarketusa extends Polymer.Element {
      static get is() { return 'mov-marketusa'; }
      static get properties() {
        return {
          empresa: {
            type: String,
            value: ''
          },
          cotizaciones: {
            type: Array,
            notify: true
          },
          noCargados: {
            type: Boolean,
            value: true
          }
        };
      }

      obtenerCotizaciones(){
        var respuestaJSON = '';
        var self = this;
        sendBackServer("GET", "cotizaciones/"+this.empresa, '', function (respuestaJSON){
          self.cotizaciones=respuestaJSON.respuesta.dataset_data.data;
          self.noCargados = false;
        });
      }

      nuevaConsulta(){
        this.cotizaciones = [];
        this.noCargados = true;
      }

      exportToExcel(){
        ExportToExcel(this.cotizaciones);
      }

    }

    window.customElements.define(MovMarketusa.is, MovMarketusa);
  </script>
</dom-module>
