
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="mov-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .table-nonfluid {
         width: auto !important;
      }
    </style>

    <div id="logininicial" class="container">
      <br><br>
      <h1 align="center">ACCESO A MIS MOVIMIENTOS BURSÁTILES</h1>
      <br>
      <div class="row">
      <table align="center" class="table table-bordered table-striped col-lg-12 col-xs-12 table-nonfluid">
        <tr>
          <td colspan="2">
            <table class="table table-bordered table-striped col-lg-4 col-xs-12 table-nonfluid">
              <thead class="thead-default">
                <th colspan="2">Acceda si ya es usuario ...</th>
              </thead>
              <tbody>
                <tr>
                  <td width="5%"><label>Usuario:</label></td>
                  <td><input on-keyup="habilitaAcceder" maxlength="8" placeholder="Escriba su usuario" value="{{usuario::input}}"/></td>
                </tr>
                <tr>
                  <td width="5%"><label>Password:</label></td>
                  <td><input on-keyup="habilitaAcceder" maxlength="8" type="password" placeholder="Escriba su password" value="{{password::input}}"/></td>
                </tr>
                <tr>
                  <td align="center" colspan="2"><button class="btn btn-info" type="button" id="buttonAcceso" disabled="true" on-click="checkUser">Acceder</button></td>
                </tr>
            </tbody>
            </table>
          </td>
        </tr>
      </table>
    </div>
    </div>
  </template>

  <script language="JavaScript" src="js/funciones.js"></script>
  <script>
    class MovLogin extends Polymer.Element {
      static get is() { return 'mov-login'; }
      static get properties() {
        return {
          usuario: {
            type: String,
            value: ''
          },
          password: {
            type: String,
            value: ''
          }
        };
      }
      checkUser(){
        var respuestaJSON = '';
        var myJSON = { "usuario": this.usuario, "password": this.password };
        sendBackServer("POST", "login", myJSON, function (respuestaJSON){
          var resultado = respuestaJSON.respuesta;
          if(resultado == "OK"){
            document.querySelector("app-movimientos").usuariologado = respuestaJSON.usuariologado.usuario;
            document.querySelector("app-movimientos").nombreUsuariologado = respuestaJSON.usuariologado.nombre;
            document.querySelector("app-movimientos").mailUsuariologado = respuestaJSON.usuariologado.mail;
            document.querySelector("app-movimientos").fechaAltaUsuariologado = respuestaJSON.usuariologado.fecha_alta.substring(0, 10);
            document.querySelector("app-movimientos").forceNarrow = false;
            document.querySelector("app-movimientos").page = 'components';
          } else if(resultado == "NOKUSER"){
            alert ("El usuario introducido no existe");
          } else if(resultado == "NOKPASSWORD"){
            alert ("La password introducida es incorrecta");
          } else {
            alert ("Error en la aplicación: "+resultado);
          }
        });
      }

      habilitaAcceder(){
        if(this.usuario == '' || this.password == ''){
          this.$.buttonAcceso.disabled=true;
        } else {
          this.$.buttonAcceso.disabled=false;
        }
      }
    }
    window.customElements.define(MovLogin.is, MovLogin);
  </script>
</dom-module>
