
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="mov-signup">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .table-nonfluid {
         width: auto !important;
      }
    </style>

    <div id="signupinicial" class="container">
      <br><br>
      <h1 align="center">ACREDITACIÓN</h1>
      <br>
      <div class="row">
      <table align="center" width="70%" class="table table-bordered table-striped col-lg-12 col-xs-12 table-nonfluid">
        <tr>
          <td>
            <table class="table table-bordered table-striped col-lg-8 col-xs-12">
              <thead class="thead-default">
                <th colspan="2">Acredítese si no está dado de alta ...</th>
              </thead>
              <tbody>
                <tr>
                  <td width="40%"><label>Nombre y Apellidos:</label></td>
                  <td><input on-keyup="habilitaAcreditar" size="40" maxlength="50" placeholder="Escriba su nombre" value="{{nombre::input}}"/></td>
                </tr>
                <tr>
                  <td width="40%"><label>Email:</label></td>
                  <td><input on-keyup="habilitaAcreditar" size="40" maxlength="50" placeholder="Escriba su email" value="{{mail::input}}"/></td>
                </tr>
                <tr>
                  <td width="40%"><label>Escoga Usuario:</label></td>
                  <td><input on-keyup="habilitaAcreditar" maxlength="8" placeholder="Escoga un usuario" value="{{newusuario::input}}"/></td>
                </tr>
                <tr>
                  <td width="40%"><label>Escoga Password:</label></td>
                  <td><input on-keyup="habilitaAcreditar" maxlength="8" type="password" placeholder="Escoga una password" value="{{newpassword::input}}"/></td>
                </tr>
                <tr>
                  <td width="40%"><label>Confirme Password:</label></td>
                  <td><input on-keyup="habilitaAcreditar" maxlength="8" type="password" placeholder="Confirme su password" value="{{newpasswordconfirm::input}}"/></td>
                </tr>
                <tr>
                  <td align="center" colspan="2"><button class="btn btn-info" type="button" id="buttonAcreditacion" disabled="true" on-click="insertUser">Acreditarse</button></td>
                </tr>
            </tbody>
            </table>
          </td>
        </tr>
      </table>
    </div>
    </div>
  </template>

  <script language="JavaScript" src="js/funciones.js"></script>
  <script>
    class MovSignUP extends Polymer.Element {
      static get is() { return 'mov-signup'; }
      static get properties() {
        return {
          newusuario: {
            type: String,
            value: ''
          },
          newpassword: {
            type: String,
            value: ''
          },
          newpasswordconfirm: {
            type: String,
            value: ''
          },
          nombre: {
            type: String,
            value: ''
          },
          mail: {
            type: String,
            value: ''
          }
        };
      }
      insertUser(){
        var respuestaJSON = '';
        if(this.newpassword != this.newpasswordconfirm){
          alert("La password no está correctmanete confirmada")
        }else{
          var myJSON = { "usuario": this.newusuario, "password": this.newpassword, "nombre": this.nombre, "mail": this.mail };
          sendBackServer("POST", "signup", myJSON, function (respuestaJSON){
            var resultado = respuestaJSON.respuesta;
            if(resultado == "OK"){
              document.querySelector("app-movimientos").usuariologado = respuestaJSON.usuariologado.usuario;
              document.querySelector("app-movimientos").nombreUsuariologado = respuestaJSON.usuariologado.nombre;
              document.querySelector("app-movimientos").mailUsuariologado = respuestaJSON.usuariologado.mail;
              document.querySelector("app-movimientos").fechaAltaUsuariologado = respuestaJSON.usuariologado.fecha_alta.substring(0, 10);
              document.querySelector("app-movimientos").forceNarrow = false;
              document.querySelector("app-movimientos").page = 'components';
            } else if(resultado == "NOK"){
              alert ("No es posible el alta. El usuario introducido ya existe");
            } else {
              alert ("Error en la apolicación: "+resultado);
            }
          });
        }
      }
      habilitaAcreditar(){
        if(this.newusuario == '' || this.newpassword == '' || this.newpasswordconfirm == '' || this.nombre == '' || this.mail == ''){
          this.$.buttonAcreditacion.disabled=true;
        } else {
          this.$.buttonAcreditacion.disabled=false;
        }
      }
    }

    window.customElements.define(MovSignUP.is, MovSignUP);
  </script>
</dom-module>
