
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="mov-listado">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .table-nonfluid {
         width: auto !important;
      }
    </style>
    <div class="container">
      <br>
      <h1 align="center">CONSULTA MOVIMIENTO DOW JONES</h1>
      <br>
      <table align="center" class="table table-bordered table-striped col-lg-12 col-xs-12 table-nonfluid">
        <tr>
          <td colspan="4">
            <table class="table table-bordered table-striped col-lg-4 col-xs-12 table-nonfluid">
              <thead class="thead-default">
                <th colspan="4">Criterios de consulta</th>
              </thead>
              <tbody>
                <tr colspan="4">
                  <td><label>Empesa:</label></td>
                  <td>
                    <select on-change="limpiarListado" name="empresa" value="{{empresaCriterio::input}}">
                      <option value=""></option>
                      <option value="MMM">3M</option>
                      <option value="AXP">American Express</option>
                      <option value="AAPL">Apple</option>
                      <option value="BA">Boeing</option>
                      <option value="CAT">Caterpillar</option>
                      <option value="CVX">Chevron</option>
                      <option value="CSCO">Cisco</option>
                      <option value="KO">Coca-Cola</option>
                      <option value="DIS">Disney</option>
                      <option value="DWDP">DowDuPont Inc</option>
                      <option value="XOM">Exxon Mobil</option>
                      <option value="GE">General Electric</option>
                      <option value="GS">Goldman Sachs</option>
                      <option value="HD">Home Depot</option>
                      <option value="IBM">IBM</option>
                      <option value="INTC">Intel</option>
                      <option value="JNJ">Johnson and Johnson</option>
                      <option value="JPM">JPMorgan Chase</option>
                      <option value="MCD">McDonald's</option>
                      <option value="MRK">Merck</option>
                      <option value="MSFT">Microsoft</option>
                      <option value="NKE">Nike</option>
                      <option value="PFE">Pfizer</option>
                      <option value="PG">Procter and Gamble</option>
                      <option value="TRV">Travelers Companies Inc</option>
                      <option value="UTX">United Technologies</option>
                      <option value="UNH">UnitedHealth</option>
                      <option value="VZ">Verizon</option>
                      <option value="V">Visa</option>
                      <option value="WMT">Wal-Mart</option>
                    </select>
                </tr>
                <tr>
                  <td><label>Fecha Operación:</label></td>
                  <td><input on-change="limpiarListado" type="date" value="{{fechaCriterio::input}}"/></td>
                </tr>
                <tr>
                  <td><label>Tipo Operación:</label></td>
                  <td>
                    <select on-change="limpiarListado" name="tiposOperacion" value="{{tipoCriterio::input}}">
                      <option value=""></option>
                      <option value="COMPRA">COMPRA</option>
                      <option value="VENTA">VENTA</option>
                      <option value="DIVIDENDO">DIVIDENDO</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label>Tributación:</label></td>
                  <td>
                    <select on-change="limpiarListado" name="tiposTributado" value="{{tipoTributadoCriterio::input}}">
                      <option value=""></option>
                      <option value="SI">Solo los tributado</option>
                      <option value="NO">Solo los no tributado</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td align="center" colspan="4">
                    <button class="btn btn-info" type="button" on-click="nuevaConsulta">Nueva consulta</button>
                    <button class="btn btn-info" type="button" on-click="obtenerMovimientos">Buscar</button>
                  </td>
                </tr>
            </tbody>
            </table>
          </td>
        </tr>
      </table>

      <br>
      <table align="center" class="table table-bordered table-striped col-lg-12 col-xs-12 table-nonfluid" hidden$="{{noCargados}}">
        <tr>
          <td>
            <button align="right" class="btn btn-info" type="button" on-click="exportToExcel">Exportar listado a Excel</button>
          </td>
        </tr>
      </table>
      <table align="center" class="table table-bordered table-striped col-lg-12 col-xs-12 table-nonfluid" hidden$="{{noCargados}}">
        <thead align="center" class="thead-default thead-dark">
          <tr>
            <th>Empresa</th>
            <th>Ticket</th>
            <th>Tipo operación</th>
            <th>Fecha ejecución</th>
            <th>Núm. acciones</th>
            <th>Precio</th>
            <th>Valor efectivo</th>
            <th>Comisiones y Tasas</th>
            <th>Tributado S/N</th>
          </tr>
        </thead>
        <tbody align="center">
          <template is="dom-repeat" id="listado" items="{{movimientos}}">
            <tr>
              <td hidden="true">
                [[item._id]]
              </td>
              <td>
                [[item.accion]]
              </td>
              <td>
                [[item.ticket]]
              </td>
              <td>
                [[item.tipoOperacion]]
              </td>
              <td>
                [[item.fechaOperacion]]
              </td>
              <td>
                [[item.numAcciones]]
              </td>
              <td>
                [[item.precio]]
              </td>
              <td>
                [[item.importeEfectivo]]
              </td>
              <td>
                [[item.comision]]
              </td>
              <td>
                [[item.tributado]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </template>

  <script language="JavaScript" src="js/funciones.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alasql/0.3.7/alasql.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.9.2/xlsx.core.min.js"></script>
  <script>

    class MovListado extends Polymer.Element {
      static get is() {
        return 'mov-listado';
      }
      static get properties() {
        return {
          empresaCriterio: {
            type: String,
            value: ''
          },
          fechaCriterio: {
            type: String,
            value: ''
          },
          tiposOperacion: {
            type: String,
            value: ''
          },
          tipoTributadoCriterio: {
            type: String,
            value: ''
          },
          movimientos: {
            type: Array,
            notify: true
          },
          noCargados: {
            type: Boolean,
            value: true
          }
        };
      }

      obtenerMovimientos(){
        var usuarioLogon = document.querySelector("app-movimientos").usuariologado;
        var respuestaJSON = '';
        var criterios = '';
        var i=0;
        if(this.empresaCriterio != '' || this.fechaCriterio != '' || (this.tipoCriterio != '' && this.tipoCriterio != undefined) || (this.tipoTributadoCriterio != '' && this.tipoTributadoCriterio != undefined)){
          criterios = criterios + '?';
          if(this.empresaCriterio != ''){
            criterios = criterios+"ticket=" + this.empresaCriterio;
            i++;
          }
          if(this.fechaCriterio != ''){
            if(i==0){
              criterios = criterios+"fechaOperacion=" + this.fechaCriterio.substring(8,10)+'/'+this.fechaCriterio.substring(5,7)+'/'+this.fechaCriterio.substring(0,4);
            }else{
              criterios = criterios+"&fechaOperacion=" + this.fechaCriterio.substring(8,10)+'/'+this.fechaCriterio.substring(5,7)+'/'+this.fechaCriterio.substring(0,4);
            }
            i++;
          }
          if(this.tipoCriterio != '' && this.tipoCriterio != undefined){
            if(i==0){
              criterios = criterios+"tipoOperacion=" + this.tipoCriterio;
            }else{
              criterios = criterios+"&tipoOperacion=" + this.tipoCriterio;
            }
            i++;
          }
          if(this.tipoTributadoCriterio != '' && this.tipoTributadoCriterio != undefined){
            if(i==0){
              criterios = criterios+"tributado=" + this.tipoTributadoCriterio;
            }else{
              criterios = criterios+"&tributado=" + this.tipoTributadoCriterio;
            }
          }
        }
        var self = this;
        sendBackServer("GET", "movimientos/"+usuarioLogon+criterios, '', function (respuestaJSON){
          if(respuestaJSON.respuesta==''){
            alert("No hay resultados para esta consulta");
          }else{
            self.movimientos=respuestaJSON.respuesta;
            self.noCargados = false;
          }
        });
      }

      nuevaConsulta(){
        this.movimientos = [];
        this.noCargados = true;
        this.empresaCriterio = '';
        this.fechaCriterio = '';
        this.tipoCriterio = '';
        this.tipoTributadoCriterio = '';
      }

      limpiarListado(){
        this.movimientos = [];
        this.noCargados = true;
      }

      exportToExcel(){
        ExportToExcel(this.movimientos);
      }
    }

    window.customElements.define(MovListado.is, MovListado);
  </script>
</dom-module>
